      <div class="row">
        <div class="col-md-8">

          <div class="pull-right">
            <% if @profile.user == current_user %>
              <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-warning btn-sm" %>
            <% end %>
            <%= link_to 'View Wish List', wish_list_profile_path(@profile), class: "btn btn-primary btn-sm" %>

            <% if @profile.followers.include?(current_user.profile) %>
              <%= link_to 'Unfollow', unfollow_profile_path(@profile), class: "btn btn-default btn-sm" %>
            <% elsif current_user.profile!= @profile %>
              <%= link_to 'Follow', follow_profile_path(@profile), class: "btn btn-success btn-sm" %>
            <% end %>
          </div>

          <% if @profile.user == current_user %>
            <h1>My Profile</h1>
          <% else %>
            <h1><%= @profile.firstname %> <%= @profile.lastname %>'s Profile</h1>
          <% end %>

        </div>
        <div class="col-md-4">
  
        </div>
      </div>

      <div class="row"> <!-- row -->

        <div class="col-md-8">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Basic Details</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">

                  <div class="parent">
                    <div class="child">
                      <div class="avatar-display image-display">
                        <%= image_tag avatar_url(@profile), class: "avatar-main" %>
                        <%= image_tag @profile.avatar_img, class: "avatar-main" %>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-md-10">
                  <table class="profile-table">
                    <tr>
                      <td><strong>Login email:</strong></td> 
                      <td><%= @profile.user.email %></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>      
                        <% if @profile.user == current_user %>
                          <%= link_to ("Edit Login <span class='glyphicon glyphicon-edit'></span>").html_safe, edit_user_registration_path, class: "btn btn-warning btn-xs" %>
                        <% end %>

                      </td>
                    </tr>
                    <tr>
                      <td><strong>First name:</strong></td>
                      <td><%= @profile.firstname %></td>
                    </tr>
                    <tr>
                      <td><strong>Last name:</strong></td>
                      <td><%= @profile.lastname %></td>
                    </tr>
                    <tr>
                      <td><strong>Country:</strong></td>
                      <td><%= @profile.country %></td>
                    </tr>
                    <tr>
                      <td><strong>City:</strong> </td>
                      <td<%= @profile.city %>></td>
                    </tr>
                    <tr>
                      <td><strong>Gender:</strong></td>
                      <td><%= @profile.gender %></td>
                    </tr>
                    <tr>
                      <td><strong>Age:</strong></td>
                      <td><%= @profile.age %></td>
                    </tr>
                    <tr>
                      <td><strong>Travel Interests:</strong> </td>
                      <td<%= @profile.tag_list%>></td>
                    </tr>
                  </table>

                </div> <!-- /col-md-10 -->   

              </div> <!-- /row -->
            </div> <!-- /panel-body -->
          </div> <!-- /panel -->

          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">About Me</h3>
            </div>

            <div class="panel-body">
              <%= @profile.about %>
            </div>
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Travel Records</h3>
            </div>

            <div class="panel-body panel-map">

              <% if !@profile.user.travel_records.empty? %>
                <div id="map-travel-records" style='width: 100%; height: 300px;'></div>
              <% end %>

              <% if @profile.user == current_user %>
                <div class="parent">
                  <div class="child">
                    <%= link_to "Add Travel Record", new_profile_travel_record_path(@profile), class: "btn btn-success add-travel-record" %>
                  </div>
                </div>
              <% end %>
              
              <% if !@profile.user.travel_records.empty? %>
                <ul class="block-travel-records">
                  <% @profile.user.travel_records.each do |travel_record| %>
                    <li class="list-travel-record">
                      <%= travel_record.country %>
                      <% if @profile.user == current_user %>
                        <%= link_to ("<span class='glyphicon glyphicon-remove-circle remove-travel-record'></span>").html_safe, profile_travel_record_path(@profile, travel_record), method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <br>
                <p class="block-travel-records">No travel record yet.</p>
              <% end %>

            </div>
          </div> <!-- /travel-records -->

        </div> <!-- /col-md-8 -->

        <div class="col-md-4">
  
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Followed By</h3>
            </div>

            <div class="panel-body">

              <% @profile.followers.each do |profile| %>
                <div class="avatar-display">
                  <div class="avatar-display image-display"><%= link_to image_tag(avatar_url(profile)), profile ,class: "avatar-image" %></div>
                  <div class="avatar-display  name-display"><%= profile.firstname %> <%= profile.lastname %></div>
                </div>
              <% end %>

            </div>
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Following</h3>
            </div>

            <div class="panel-body">

              <% @profile.all_following.each do |profile| %>
                <div class="avatar-display">
                  <div class="avatar-display image-display"><%= link_to image_tag(avatar_url(profile)), profile ,class: "avatar-image" %></div>
                  <div class="avatar-display name-display"><%= profile.firstname %> <%= profile.lastname %></div>
                </div>
              <% end %>

            </div>
          </div> <!-- /following -->

        </div> <!-- /col-md-4 -->
      </div><!--  /row -->

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-travel-records'}}, function(){
  markers = handler.addMarkers(<%= @hash_travel_records.to_json.html_safe %>);
    // if there's only one marker, center map, zoom out
    <% if @hash_travel_records.size == 1 %>
      // to center on a marker
      handler.map.centerOn(markers[0]); 
      // to set the map zoom
      handler.getMap().setZoom(4);
    // if more than one marker, zoom to fit
    <% else %>
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    <% end %>
});
</script>