      <div class="row">
        <div class="col-md-8">       
          <h1>My Profile</h1>
        </div>
        <div class="col-md-4">
          <div class="btn-action-parent">
            <div class="btn-action-child">
              
              <% if @profile.user == current_user %>
                <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-warning" %>
              <% end %>
              <%= link_to 'View Wish List', wish_list_profile_path, class: "btn btn-primary" %>

              <% if @profile.followers.include?(current_user.profile) %>
                <%= link_to 'Unfollow', unfollow_profile_path(@profile), class: "btn btn-default" %>
              <% elsif current_user.profile!= @profile %>
                <%= link_to 'Follow', follow_profile_path(@profile), class: "btn btn-success" %>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <div class="row"> <!-- row -->

        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Basic Details</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">

                  <div class="parent">
                    <div class="child">
                      <div class="avatar-display image-display"><%= image_tag avatar_url(@profile), class: "avatar-main" %></div>
                    </div>
                  </div>

                </div>

                <div class="col-md-10">
                  <p>
                    Login email: <%= @profile.user.email %>
                    <% if @profile.user == current_user %>
                      <%= link_to 'Edit Login', edit_user_registration_path, class: "btn btn-warning btn-xs" %>
                    <% end %>
                  </p>
                  <br>
                  <p>First name: <%= @profile.firstname %></p>
                  <p>Last name: <%= @profile.lastname %></p>
                  <p>Country: <%= @profile.country %></p>
                  <p>City: <%= @profile.city %></p>
                  <p>Gender: <%= @profile.gender %></p>
                  <p>Age: <%= @profile.age %></p>
                  <p>Travel Interests: <%= @profile.tag_list %></p>
                </div> <!-- /col-md-10 -->   

              </div> <!-- /row -->
            </div> <!-- /panel-body -->
          </div> <!-- /panel -->

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">About Me</h3>
            </div>

            <div class="panel-body">
              <%= @profile.about %>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">My Travel Records</h3>
            </div>

            <div class="panel-body panel-map">

              <div id="map-travel-records" style='width: 100%; height: 300px;'></div>

              <% if @profile.user == current_user %>
                <div class="parent">
                  <div class="child">
                    <%= link_to "Add Travel Record", new_profile_travel_record_path(@profile), class: "btn btn-success add-travel-record" %>
                  </div>
                </div>
              <% end %>
              
              <ul class="block-travel-records">
                <% @profile.user.travel_records.each do |travel_record| %>
                  <li class="list-travel-record">
                    <%= travel_record.country %>
                    <% if @profile.user == current_user %>
                      <%= link_to 'Delete', profile_travel_record_path(@profile, travel_record), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>

            </div>
          </div> <!-- /travel-records -->

        </div> <!-- /col-md-8 -->

        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Social Media Accounts</h3>
            </div>

            <div class="panel-body">
              !!!!!!!!!Placeholder for social media accounts!!!!!!!
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Invite Friends</h3>
            </div>

            <div class="panel-body">
              !!!!!!!!!Placeholder for invite friends!!!!!!!
            </div>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Followed By</h3>
            </div>

            <div class="panel-body">

              <% @profile.followers.each do |profile| %>
                <div class="avatar-display">
                  <div class="avatar-display image-display"><%= link_to image_tag(avatar_url(profile)), profile ,class: "avatar-image" %></div>
                  <div class="avatar-display  name-display"><%= profile.firstname %> <%= profile.lastname %></div>
                </div>
              <% end %>

            </div>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Following</h3>
            </div>

            <div class="panel-body">

              <% @profile.all_following.each do |profile| %>
                <div class="avatar-display">
                  <div class="avatar-display image-display"><%= link_to image_tag(avatar_url(profile)), profile ,class: "avatar-image" %></div>
                  <div class="avatar-display name-display"><%= profile.firstname %> <%= profile.lastname %></div>
                </div>
              <% end %>

            </div>
          </div> <!-- /following -->

        </div> <!-- /col-md-4 -->
      </div><!--  /row -->

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-travel-records'}}, function(){
  markers = handler.addMarkers(<%=raw @hash_travel_records.to_json %>);

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  
  // to center on a marker
  // handler.map.centerOn(markers[0]); 
  // to set the map zoom
  // handler.getMap().setZoom(4);
});
</script>