            <div class="panel panel-experience">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to experience.name, experience %></h3>
                <p class="index-location-breadcrumb">
                  <% if !experience.continent.blank? %>
                    <%= link_to experience.continent, continent_path(experience.continent) %>
                    > 
                  <% end %>
                  <% if !experience.country.blank? %> 
                    <%= link_to experience.country, country_path(experience.country) %>
                    >
                  <% end %> 
                  <% if !experience.city.blank? %>
                    <%= link_to experience.city, city_path(experience.city) %>
                  <% end %>
                </p>
              </div>
              <div class="panel-body panel-image-index">
                <div class="zoom-image-wrapper"> 
                  <% if !experience.cover.blank? %>
                  <%= link_to image_tag(experience.cover.url(:small)), experience %>
                  <% end %>
                </div>

                <p class="index-description description-as-link">
                  <% if !experience.description.blank? %>
                  <%= link_to (experience.description).truncate(300).html_safe, experience %>

                  <strong> <%= link_to 'READ MORE', experience, class: "read-more" %> </strong>
                  <% end %>
                </p>
                
                <div class="parent">
                  <div class="child">
                    <p>                
                      <% if current_user %>
                        <% if current_user.voted_up_on? experience %>
                          <%= link_to ('Remove from Wish List').html_safe, dislike_experience_path(experience), method: :put, class: "btn btn-danger btn-sm btn-panel-action" %>
                        <% else %>
                          <%= link_to ('Add to Wish List').html_safe, like_experience_path(experience), method: :put, class: "btn btn-warning btn-sm btn-panel-action" %> 
                        <% end %>
                      <% end %>                
                    </p>
                  </div>
                </div>
              </div> <!-- /panel-body-image-index -->
            </div>