            <div class="panel panel-experience">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to experience.name, experience %></h3>
              </div>
              <div class="panel-body">
                <p>
                  <% if !experience.continent.blank? %>
                    <%= link_to experience.continent, continent_path(experience.continent) %>
                    > 
                  <% end %>
                  <% if !experience.country.blank? %> 
                    <%= link_to experience.country, country_path(experience.country) %>
                    >
                  <% end %> 
                  <% if !experience.city.blank? %>
                    <%= link_to experience.city, city_path(experience.city) %>
                  <% end %>
                </p>
                <p>
                  <% if !experience.description.blank? %>
                  <%= (experience.description).truncate(500).html_safe %>
                  <% end %>
                </p>
                <p>
                  <%= link_to ('Show Details <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>').html_safe, experience, class: "btn btn-primary btn-xs btn-wish-list-action" %>
                  
                  <% if current_user %>
                    <% if current_user.voted_up_on? experience %>
                      <%= link_to ('Remove from Wish List <span class="glyphicon glyphicon-remove" ari="true"></span>').html_safe, dislike_experience_path(experience), method: :put, class: "btn btn-default btn-xs btn-wish-list-action" %>
                    <% else %>
                      <%= link_to ('Add to Wish List <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe, like_experience_path(experience), method: :put, class: "btn btn-success btn-xs btn-wish-list-action" %> 
                    <% end %>
                  <% end %>                
                </p>
              </div>
            </div>