     <div class="row">
        <div class="col-md-8">       
          <h1>Travel Experiences</h1>
        </div>
        <div class="col-md-4">
          
          <% if can? :create, @experience %>
          <div class="btn-action-parent">
            <div class="btn-action-child">
              <%= link_to 'Create Travel Experience', new_experience_path, class: "btn btn-info btn-sm" %>
            </div>
          </div>
          <% end %>
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">  
          <% if params[:search] %>
         
            <% if @experiences.empty? %>
              <div class="results-display-no-result">No such travel experience.</div>
            <% else %>
              <div class="results-display">Showing travel experiences of "<%= params[:search] %>":</div>
            <% end %>

          <% end %>
          <% if params[:tag] %>
            <div class="results-display">Showing travel experiences of "<%= params[:tag] %>":</div>
          <% end %>
          <% if params[:continent] %>
            <div class="results-display">Showing travel experiences of "<%= params[:continent] %>":</div>
          <% end %>
          <% if params[:country] %>
            <div class="results-display">Showing travel experiences of "<%= params[:country] %>":</div>
          <% end %>
          <% if params[:city] %>
            <div class="results-display">Showing travel experiences of "<%= params[:city] %>":</div>
          <% end %>

          
          <div id="experiences">
            <%= render @experiences %>
          </div>
          <div class="text-center"><%= will_paginate @experiences, renderer: BootstrapPagination::Rails %></div>


        </div> <!-- /col-md-8 -->

        <div class="col-md-4">

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Search Experiences</h3>
            </div>
            <div class="panel-body">

              <%= form_tag experiences_path, method: :get do %>
                <p><%= text_field_tag :search, params[:search], class: "form-control" %></p>
                <p><%= submit_tag "Search", name: nil, class: "btn btn-primary" %></p>
              <% end %>

            </div>
          </div>
          
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Map View</h3>
            </div>
            <div class="panel-body panel-map">
              <div id="map-experience-list" style='width: 100%; height: 300px;'></div>
            </div>
          </div>

        </div> <!-- /col-md-4 -->
      </div><!--  /row -->

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-experience-list'}}, function(){
  markers = handler.addMarkers(<%=raw @hash_experience_list.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  
  // to center on a marker
  //handler.map.centerOn(markers[0]); 
  // to set the map zoom
  //handler.getMap().setZoom(4);
});
</script>
