     <div class="row">
        <div class="col-md-8">       
          <h1>Travel Experiences</h1>
        </div>
        <div class="col-md-4">
          
          <% if can? :create, @experience %>
          <div class="btn-action-parent">
            <div class="btn-action-child">
              <%= link_to 'Create Travel Experience', new_experience_path, class: "btn btn-info btn-sm" %>
            </div>
          </div>
          <% end %>
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">  
          <% if params[:tag] %>
            <div class="results-display">Showing travel experiences of "<%= params[:tag] %>":</div>
          <% end %>
          <% if params[:continent] %>
            <div class="results-display">Showing travel experiences of "<%= params[:continent] %>":</div>
          <% end %>
          <% if params[:country] %>
            <div class="results-display">Showing travel experiences of "<%= params[:country] %>":</div>
          <% end %>
          <% if params[:city] %>
            <div class="results-display">Showing travel experiences of "<%= params[:city] %>":</div>
          <% end %>

          <% @experiences.each do |experience| %>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><%= experience.name %></h3>
              </div>
              <div class="panel-body">
                <p>
                  <% if !experience.continent.empty? %>
                    <%= link_to experience.continent, continent_path(experience.continent) %>
                    > 
                  <% end %>
                  <% if !experience.country.empty? %> 
                    <%= link_to experience.country, country_path(experience.country) %>
                    >
                  <% end %> 
                  <% if !experience.city.empty? %>
                    <%= link_to experience.city, city_path(experience.city) %>
                  <% end %>
                </p>
                <p><%= experience.description %></p>
                <p><%= link_to 'Show Details', experience, class: "btn btn-success btn-xs" %></p>
              </div>
            </div>
          <% end %>

        </div> <!-- /col-md-8 -->

        <div class="col-md-4">

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Search Experiences</h3>
            </div>
            <div class="panel-body">

              <%= form_tag experiences_path, method: :get do %>
                <p><%= text_field_tag :search, params[:search], class: "form-control" %></p>
                <p><%= submit_tag "Search", name: nil, class: "btn btn-primary" %></p>
              <% end %>

            </div>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Refine Results</h3>
            </div>
            <div class="panel-body">

              <form>
                <div class="container-filter-options">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Continent
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                  </div>

                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Country
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                  </div>

                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      City
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                  </div>

                  <input type="text" class="form-control keywords" id="keywords" placeholder="Enter keyword(s)">
                  
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Sort
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                  </div>


                    <button type="submit" class="btn btn-primary">Show Results</button>

                </div> <!-- /container-filter-options -->

              </form>

            </div>
          </div>
          
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Map View</h3>
            </div>
            <div class="panel-body">
              <div id="map-experience-list" style='width: 100%; height: 300px;'></div>
            </div>
          </div>

        </div> <!-- /col-md-4 -->
      </div><!--  /row -->

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-experience-list'}}, function(){
  markers = handler.addMarkers(<%=raw @hash_experience_list.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  
  // to center on a marker
  //handler.map.centerOn(markers[0]); 
  // to set the map zoom
  //handler.getMap().setZoom(4);
});
</script>
