		<p><strong>Name: </strong><%= @experience.name %></p>
		<p><strong>Country: </strong><%= @experience.country %></p>
		<p><strong>City: </strong> <%= @experience.city.capitalize %> </p>
		<p><strong>Tags: </strong> <%= @experience.tag_list %> </p>

		<%= link_to 'Edit', edit_experience_path(@experience) %>

		
		

		<% if current_user.voted_up_on? @experience %>
			<%= link_to 'Remove', dislike_experience_path(@experience), method: :put %>
		<% else %>
			<%= link_to 'Add', like_experience_path(@experience), method: :put %> 
		<% end %>
		
		<br>
		Number of people who added this experience to wish lists: <%= @experience.get_upvotes.size %> <br>

		<ul>
		<% @experience.votes_for.up.voters.each do |user| %>
			<li>
				<%= user.profile.firstname  %>		
			</li>
		<% end %>
		</ul>

