      <div class="row"> <!-- title row -->

        <div class="col-md-8">
          
          <ol class="breadcrumb">
            <li><%= link_to @experience.continent, continent_path(@experience.continent) if !@experience.continent.empty? %></li>
            <li><%= link_to @experience.country, country_path(@experience.country) if !@experience.country.empty? %></li>
            <li class="active"><%= link_to @experience.city, city_path(@experience.city) if !@experience.city.empty? %></li>
          </ol> 

          <h1><%= @experience.name %></h1>

          <%= social_share_button_tag(@experience.name) %>

          <p class="text-info"><i><span class="glyphicon glyphicon-tag"></span> 
            <%= @experience.tags.map {|tag| link_to tag, tag_path(tag.name)}.join(', <span class="glyphicon glyphicon-tag"></span> ').html_safe %>
          </i></p>

          <div class="btn-action-parent">
            <div class="btn-action-child">
              
              <% if current_user.voted_up_on? @experience %>
                <%= link_to 'Remove from Wish List', dislike_experience_path(@experience), method: :put, class: "btn btn-default" %>
              <% else %>
                <%= link_to 'Add to Wish List', like_experience_path(@experience), method: :put, class: "btn btn-success" %> 
              <% end %>

            </div>
          </div>

          <div class="panel panel-info"><!-- experience description -->
            <div class="panel-heading">
              <h3 class="panel-title">About the Experience</h3>
            </div>
            <div class="panel-body">
              <%= (@experience.description).html_safe %>
            </div>
          </div><!-- /experience description -->


          <div class="panel panel-info"><!-- multimedia -->
            <div class="panel-heading">
              <h3 class="panel-title">Multimedia</h3>
            </div>

            <div class="panel-body">
              <%= (@experience.multimedia).html_safe %>
            </div>
          </div><!-- /multimedia -->

          <div class="panel panel-info"><!-- external links -->
            <div class="panel-heading">
              <h3 class="panel-title">External Links</h3>
            </div>

            <div class="panel-body">
              <%= (@experience.external_links).html_safe %>  
            </div>
          </div><!-- /external links -->

          <div class="panel panel-info"><!-- experience reviews -->
            <div class="panel-heading">
              <h3 class="panel-title">Experience Reviews</h3>
            </div>

            <div class="panel-body">
              <% if @experience.reviews.first.nil? %>
                <p>No review yet. </p>
              <% else %>
                <% @experience.reviews.each do |review| %>
                  <div class="review-display"> 
                    <!-- upon page loading, a new empty review is created for experience to be used as new reveiw input, which cannot be edited -->
                    <% if !review.id.nil? %> 
                      <div class="row">
                        <div class="col-md-1">
      
                          <div class="avatar-display">
                            <div class="avatar-display image-display"><%= link_to image_tag(avatar_url(review.set_user(review.user_id).profile)), review.set_user(review.user_id).profile ,class: "avatar-image" %>
                            </div>
                            <div class="avatar-display name-display"><%= review.set_user(review.user_id).profile.firstname %> <%= review.set_user(review.user_id).profile.lastname %></div>
                          </div>
                  
                        </div>
                        <div class="col-md-11">
                          <%= review.body %>

                          <%= link_to 'Delete', experience_review_path(review.experience, review), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-xs review-button-adjust-margin" %> 

                          <%= link_to 'Edit', edit_experience_review_path(review.experience, review), class: "btn btn-warning btn-xs review-button-adjust-margin" %>
                        </div>   
                      </div> <!-- /row -->
                    <% end %>
                  </div> <!-- /review-display -->
                <% end %>
              <% end %> <!-- /reviews exist -->
              <br>
              <%= render 'reviews/form' %>

            </div>
          </div><!-- /experience reviews -->
        </div> <!-- /col-md-8 -->

        <div class="col-md-4">

          <% if can? :edit, @experience %>
          <div class="btn-action-parent">
            <div class="btn-action-child">
              <%= link_to 'Edit Experience', edit_experience_path(@experience), class: "btn btn-warning btn-sm" %>
              <%= link_to 'Delete Experience', experience_path(@experience), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
          <% end %>



          <div class="panel panel-info"><!-- map -->
            <div class="panel-heading">
              <h3 class="panel-title">Map</h3>
            </div>

            <div class="panel-body panel-map">
              <% if !@experience.latitude.nil? and !@experience.longitude.nil? %>
                <div id="map-experience" style='width: 100%; height: 300px;'></div>
              <% else %>
                <p class="location-not-found-block">Location not found on map.</p>
              <% end %>

            </div>
          </div><!-- /map -->

          <div class="panel panel-success"><!-- users who have added this to wish lists -->
            <div class="panel-heading">
              <h3 class="panel-title">Who Added this to Wish List</h3>
            </div>

            <div class="panel-body">
              <!-- behaviors defined by gem acts_as_votable -->
              <% @experience.votes_for.up.voters.each do |user| %>
                <% if !user.profile.nil? %>
                  <div class="avatar-display">
                    <div class="avatar-display image-display"><%= link_to image_tag(avatar_url(user.profile)), user.profile ,class: "avatar-image" %></div>
                    <div class="avatar-display name-display"><%= user.profile.firstname %> <%= user.profile.lastname %></div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div><!-- /experience users-added -->


          <div class="panel panel-success"><!-- related experiences -->
            <div class="panel-heading">
              <h3 class="panel-title">Related Travel Experiences</h3>
            </div>

            <div class="panel-body">
              <% Experience.tagged_with(@experience.tags, any: true).each do |experience| %>
                <% if @experience != experience %>
                  <div class="related-experiences"><%= link_to experience.name, experience_path(experience) %><div>
                <% end %>
              <% end %>
            </div>
          </div><!-- /related experiences -->
        </div> <!-- /col-md-4 -->

      </div>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-experience'}}, function(){
  markers = handler.addMarkers(<%= @hash_experience.to_json.html_safe %>);

  //handler.bounds.extendWith(markers);
  //handler.fitMapToBounds();
  
  // to center on a marker
  handler.map.centerOn(markers[0]); 
  // to set the map zoom
  handler.getMap().setZoom(4);
});
</script>


