      <div class="row"> <!-- title row -->

        <div class="col-md-8">
          
          <ol class="breadcrumb">
            <li><a href="#"><%= @experience.continent %></a></li>
            <li><a href="#"><%= @experience.country %></a></li>
            <li class="active"><%= @experience.city %></li>
          </ol> 

          <h1><%= @experience.name %></h1>

          <p class="text-warning"><i>Keywords: <%= @experience.tag_list %></i></p>

          <div class="btn-action-parent">
            <div class="btn-action-child">
              
              <% if current_user.voted_up_on? @experience %>
                <%= link_to 'Remove from Wish List', dislike_experience_path(@experience), method: :put, class: "btn btn-default" %>
              <% else %>
                <%= link_to 'Add to Wish List', like_experience_path(@experience), method: :put, class: "btn btn-success" %> 
              <% end %>

            </div>
          </div>

          <div class="panel panel-info"><!-- experience description -->
            <div class="panel-heading">
              <h3 class="panel-title">About the Experience</h3>
            </div>
            <div class="panel-body">
              <%= @experience.description %>
            </div>
          </div><!-- /experience description -->


          <div class="panel panel-info"><!-- multimedia -->
            <div class="panel-heading">
              <h3 class="panel-title">Multimedia</h3>
            </div>

            <div class="panel-body">
              !!!!!!!!!Placeholder for the photos/videos!!!!!!!
            </div>
          </div><!-- /multimedia -->

          <div class="panel panel-info"><!-- external links -->
            <div class="panel-heading">
              <h3 class="panel-title">External Links</h3>
            </div>

            <div class="panel-body">
              <%= @experience.external_links %>  
            </div>
          </div><!-- /external links -->

          <div class="panel panel-info"><!-- experience comments -->
            <div class="panel-heading">
              <h3 class="panel-title">Comments</h3>
            </div>

            <div class="panel-body">
              !!!!!!!!!Placeholder for the comments!!!!!!!





            </div>
          </div><!-- /experience comments -->
        </div> <!-- /col-md-8 -->

        <div class="col-md-4">

          <div class="btn-action-parent">
            <div class="btn-action-child">
              <%= link_to 'Edit Experience', edit_experience_path(@experience), class: "btn btn-warning btn-sm" %>
              <%= link_to 'Delete Experience', experience_path(@experience), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>

          <div class="panel panel-default"><!-- map -->
            <div class="panel-heading">
              <h3 class="panel-title">Map</h3>
            </div>

            <div class="panel-body panel-map">

              <div id="map-experience" style='width: 100%; height: 300px;'></div>

            </div>
          </div><!-- /map -->

          <div class="panel panel-warning"><!-- users who have added this to wish lists -->
            <div class="panel-heading">
              <h3 class="panel-title">Who Added this to Wish List</h3>
            </div>

            <div class="panel-body">
              <!-- behaviors defined by gem acts_as_votable -->
              <% @experience.votes_for.up.voters.each do |user| %>
                <div class="avatar-display">
                  <div class="avatar-display image-display"><%= link_to image_tag(avatar_url(user.profile)), user.profile ,class: "avatar-image" %></div>
                  <div class="avatar-display name-display"><%= user.profile.firstname %> <%= user.profile.lastname %></div>
                </div>
              <% end %>

            </div>
          </div><!-- /experience users-added -->


          <div class="panel panel-success"><!-- related experiences -->
            <div class="panel-heading">
              <h3 class="panel-title">Related Travel Experiences</h3>
            </div>

            <div class="panel-body">
              !!!!!!!!!Placeholder for experience thumbnails!!!!!!!
            </div>
          </div><!-- /related experiences -->
        </div> <!-- /col-md-4 -->

      </div>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-experience'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);

  //handler.bounds.extendWith(markers);
  //handler.fitMapToBounds();
  
  // to center on a marker
  handler.map.centerOn(markers[0]); 
  // to set the map zoom
  handler.getMap().setZoom(4);
});
</script>


